* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: helvetica;
}

#root,
.app {
  min-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#d3d3d3, #dde0ff);
}

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  margin: 0.25rem;
}
