@use 'sass:math';

$picker-size: 7rem;

.colour-picker-area {
  display: flex;
  flex-direction: row;

  input {
    height: $picker-size;
    width: $picker-size;
    border: none;
    border-radius: 50%;

    background-color: rgb(255, 255, 255, 0);
  }
}

.button-row {
  display: flex;
  flex-direction: row;
}

.picker-tile {
  cursor: pointer;
  height: math.div($picker-size, 3);
  width: calc(min(#{$picker-size}/ 3, 6vw));
}

.picker-list {
  .picker-icon {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;

    margin: 0.5rem 0;
    height: math.div($picker-size, 3);
    width: math.div($picker-size, 3);

    &.recents {
      margin-left: auto;
    }
  }
}

.eye-dropper {
  text-align: center;
  margin: 0.25rem 0;

  button {
    transition: box-shadow 0.2s;
    width: math.div($picker-size, 2);
    height: math.div($picker-size, 2);
    box-shadow: 0;
  }

  &.mode-active {
    button {
      box-shadow: 0px 0px 9px 6px red;
    }
  }
}
