$max-grid-size: 800px;

body {
  // prevent drag down refreshing pages when the grid is present
  overscroll-behavior: contain;
}

.pixel-grid {
  display: flex;
  white-space: nowrap;
  border: 1px solid #000;

  .column {
    display: inline-block;
    flex-grow: 1;
  }
}
