.pixel-cell {
  display: block;
  width: 100%;
  padding-top: 100%; //maintains aspect ratio
  text-align: center;
  border: 1px solid #ddd;

  cursor: pointer;

  &:hover {
    border-color: #777;
  }
}
